Package: com.prá»oáºjeck.tÆwean
Name: project-tÆweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ÆWean
Author: ÆWean
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
